
* {
  margin: 0;
}
html, body {
  position: relative;
  padding-top: 5px;
  padding-bottom: 20px;
$('[data-spy="scroll"]').each(function () {
  var $spy = $(this).scrollspy('refresh')
});
}

p {
  padding: 5px 0;
}

footer {
  position: static;
  bottom: 0;
  font-size: 10px;

}

.nav a {
  font: 14px 'Open Sans' sans-serif;
  font-weight: bold;
  color: #5a5a5a;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background:url("images/cover.JPG") no-repeat;
  height: 360px;
  background-size: cover;

}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #3A5FCD;
  font-size: 64px;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  padding-top: 160px;
  padding-bottom: 5px;
}

.jumbotron p {
  font-family: "Pacifico", sans-serif;
  font-size: 20px;
  color: #3A5FCD;
  padding-left: 70px;

}

.container h2 {
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  font-weight: bold;
}

.container h4 {
  font-family: "open sans", sans-serif;
  font-size: 18px;

}

.content p {
  font-family: "open sans", sans-serif;
  font-size: 14px;

}
